<!DOCTYPE html>
<html>
  <head>
    <title>Activation Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Add necessary CSS and JS files here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-wrapper">

      <!-- Preloader -->
      <div class="preloader"></div>
      <!-- Main Header-->
      <header class="main-header header-style-four">
      <!-- Main box -->
      <div class="main-box">
          <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="images/logo-3.png" width="60" height="0" alt=""
                          title=""></a></div>
          </div>

          <!--Nav Box-->
          <div class="nav-outer">
              <nav class="nav main-menu">
                  <ul class="navigation" id="navbar">
                     
                      
                          

                      <li class="dropdown">
                          <span><a href="about-us.html">About Us</a></span>
                          <ul>
                              <li><a href="how-it-works.html">How It Works</a></li>
                              <li><a href="terms-and-condition.html">Terms and Condition</a></li>
                          </ul>
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                      
                  </ul>
              </nav>
              <!-- Main Menu End-->

             
          </div>
      </div>

      <!-- Mobile Header -->
      <div class="mobile-header">
          <div class="logo"><a href="index.html"><img src="images/logo-3.png" alt="" title=""></a></div>

          <!--Nav Box-->
          <div class="nav-outer clearfix">



          </div>
      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
      </header>
      <!--End Main Header -->
       <!-- Banner Section / Style Five-->
       <section class="banner-section style-five">
        <div class="banner-carousel owl-carousel owl-theme">
            <!-- Slide Item -->
            <div class="slide-item" style="background-image: url(images/banner/6.png);">
                <div class="slide-content">
                    <div class="auto-container">
                      <div class="container">
                        <h1>Activation Form</h1>
                        <% if(typeof errors != 'undefined') { %>
                          <% errors.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <%= error.msg %>              
                              <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                  
                              </button>
                            </div>
                               
                           <% }); %>
                        <% } %>
                  
                        <% if (success_msg != '') { %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= success_msg %>              
                            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                  
                            </button>
                          </div>
                  
                        <% } %>
                  
                        <% if (error != '') { %>
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%= error %>              
                            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                  
                            </button>
                          </div>
                  
                        <% } %>
                        <form method="POST" >
                          <div class="form-group">
                            <label for="code">please check your mail to verify your account ! thank you</label>
                            <input type="text"
                                   id="code"
                                   name="code"
                                   class="form-control"
                                   placeholder="Enter a 4 digit number"
                                   maxlength="4"
                                   id="pin"
                                   pattern="\d{4}"
                                   
                                   required/>
                          </div>
                          <a href="/users/login">
                            <button type="button"   class="theme-btn btn-style-one bg-purple">
                              Continuer
                            </button>
                          </a>
                        </form>
                       </div>
                    </div>
                </div>
            </div>


        </div>
     <div class="container">
      <h1>Activation Form</h1>
      <form method="POST" >
        <div class="form-group">
          <label for="code">please check your mail to verify your account ! thank you</label>
          <input type="text"
                 id="code"
                 name="code"
                 class="form-control"
                 placeholder="Enter a 4 digit number"
                 maxlength="4"
                 id="pin"
                 pattern="\d{4}"
                 
                 required/>
        </div>
        <a href="/users/login">
          <button type="button"   class="theme-btn btn-style-one bg-purple">
            Continuer
          </button>
        </a>
      </form>
     </div>
     <!-- Main Footer -->
     <footer class="main-footer style-two">
  <!-- Footer Upper -->
  <div class="footer-upper">
      <ul class="footer-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="listing-layout-2.html">items</a></li>
          <li><a href="dashboard-profile.html">Profil</a></li>
          <li><a href="about-us.html">about us</a></li>
          <li><a href="contact.html">Contact</a></li>
      </ul>
  </div>

  <!-- Footer Content -->
  <div class="footer-content">
      <div class="auto-container">
          <ul class="copyright-text">
              <li>Copyright © 2019 Listdo</li>
              <li>New York, NY</li>
              <li><a href="#">+61 2 8236 9200</a></li>
          </ul>
      </div>
  </div>

 

  <!-- Scroll To Top -->
  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up"></span></div>
     </footer>
     <!-- End Footer -->

    </div>
    <!-- End Page Wrapper --> 
    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/chosen.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <script src="js/jquery.hideseek.min.js"></script>
    <script src="js/mmenu.polyfills.js"></script>
    <script src="js/mmenu.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/script.js"></script>

  </body>
  <script>
    const btn = document.querySelector(".continuer");
    const input = document.querySelector("#code");

    btn.addEventListener("click" , async ()=>{
      const code = input.value;
      const email = localStorage.getItem("email");

      const response = await fetch("http://localhost:5000/users/verification" , {
        method:"POST",
        headers:{
          "content-type":"application/json"
        },
        body: JSON.stringify({
          code,
          email
        })
      });
      const data = await response.json();

      console.log(data);
    })


  </script>
</html>
